<div class="container">
  <h2>入荷履歴一覧</h2>
  <div class="row">
    <div class="col col-lg-2">
    </div>
    <div class="col col-lg-8">
      <table class="table table-striped">
          <% (@additems).each do |additem| %>
          <thead>
            <tr>
              <th>
                <%= additem.created_at.strftime("%Y-%m-%d %H:%M") %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>
                  <% if additem.alladd.deleted_at.blank? %>
                  <% else %>
                    削除済み<br>
                  <% end %>
                	<%= attachment_image_tag additem.alladd, :item_profile, :fill, 120, 120, format: 'jpeg' %>
                </td>
                <td>
                	<p class="content">
                		曲名
                	</p>
                	<p class="content">
                		アーティスト名
                	</p>
                	<p class="content">
                		入荷枚数
                	</p>
                </td>
                <td>
                	<p class="content">
                		<%= link_to admins_item_path(additem.item_id) do %><%= additem.alladd.item_name %><% end %>
                	</p>
                	<p class="content">
                		<%= additem.alladd.artist.artist_name %>
                	</p>
                	<p class="content">
                		<%= additem.add_item %>　枚
                	</p>
                </td>
              </tr>
              <% end %>
          </tbody>
       </table>
       <%= paginate @additems, class: "paginate" %>
     </div>
   </div>
 </div>