
<div class="container">
  <div class="row-md-10">
  	<h2>商品一覧</h2>
    <p>発売日順・<%= link_to "いいね順", items_ranking_path %></p>
    <p>検索機能</p>

    <%= form_tag items_path ,:method => 'get' do %>
    <p>
    <%= text_field_tag :search, params[:search] ,placeholder:"商品名で検索" %>
    <%= submit_tag "Search", :item_name => nil %>
    </p>
    <% end %>

  	<div class="col-md-10">
  		<% @items.each do |item| %>

  		<%= item.shipdate %>
  		<%= link_to item_path(item.id) do %><%= item.item_name %><% end %>
  		<%= item.artist.artist_name %>
  		<p>いいね数</p>
  		<p>レビュー数</p>

      <p><%= (item.price * @tax).round.to_s(:delimited, delimiter: ',')%>円(税込)</p>


  		<% end %>
  	</div>
  </div>
</div>



<div class="container">
  <div class="row">
        <div class="col-lg-9">
      <table class="table table-striped">
        <h2>商品一覧</h2>
         <p>発売日順・<%= link_to "いいね順", items_ranking_path %></p>
         <%= form_tag items_path ,:method => 'get' do %>
    <p>
    <%= text_field_tag :search, params[:search] ,placeholder:"商品名で検索" %>
    <%= submit_tag "Search", :item_name => nil %>
    </p>
    <% end %>
        <thead>
          <tr>
            <th>画像と発売日</th>
            <th>いいね　と　レビュー数</th>
            <th>商品名　歌手名</th>
            <th>価格（税込）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @items.each do |item| %>
            <td>ここに商品画像が入ります</br><%= item.shipdate %></td>
            <td>いいね数</br>レビュー数</td>
            <td><%= link_to item_path(item.id) do %><%= item.item_name %><% end %></br><%= item.artist.artist_name %></td>
            <td><p><%= (item.price * @tax).round.to_s(:delimited, delimiter: ',')%>円(税込)</p></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
    