
<div class="container">
	<h2>商品詳細</h2>
	<div class="row row-md-10">
		<div class="col col-lg-1"></div>
		<div class="col col-md-6">
			<div class="item-image">
			   <%= attachment_image_tag @item, :item_profile, :fill,260, 260, format: 'jpeg' %>
			</div>
			<div class="item-top">
			    <button type="button" class="btn btn-primary btn-lg btn-cart">カートに入れる</button>
			    <p><!-- いいね数 --></p>
			    <p><!-- レビュー数 --></p>
			</div>
			<div class="item-bottom">
				<p>商品名：<%= @item.item_name %></p>
				<p>アーティスト名：<%= @item.artist.artist_name %></p>
				<p>レーベル名：<%= @item.label.label_name %></p>
				<p>ジャンル：<%= @item.genre.genre_name %></p>
				<p>発売日：<%= @item.shipdate %></p>
				<p>価格：<span><%= (@item.price * @tax).round.to_s(:delimited, delimiter: ',')%>円(税込)</span></p>
				<p><%= @item.status %></p>
			</div>
	    </div>

		<div class="col col-md-5">
			<% @item.discs.each do |disc| %>
			<p class="disc-song-disc"><%= disc.disc_name %></p>
			<% disc.songs.each do |song| %>
			<p class="disc-song-song"><%= song.song_name %></p>
			<% end %>
			<% end %>
		</div>
	</div>
	<div class="row-md-10">
		<!-- <p>レビューの一覧</p> -->
	</div>
</div>
