<p id="notice"></p>
	<div class="container">
    	<div class="row">
    		<div class="col">
    			<div class="center-block"style="width: 500px; text-align: center; border: 3px solid gray;">
					<h1>ユーザー情報の編集</h1>
				</div>
				<%= form_for @enduser do |f| %>
				<% if @enduser.errors.any? %>
				<%= @enduser.errors.count %>件のerrorが発生しました
					<% @enduser.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				<% end %>
			<% end %>
			<%= form_for @enduser do |f| %>
				<span>名前</span>
				<span><%= f.text_field :first_name, :last_name %></span>
				<span>フリガナ</span>
				<span><%= f.text_field :first_name_kana, :last_name_kana %></span>
				<span>郵便番号</span>
				<span><%= f.text_field :postcord %></span>
				<span>住所</span>
				<span>都道府県</span>

				<span>電話番号</span>
				<span><%= f.text_field :phone_number %></span>
				<span>メールアドレス</span>
				<span><%= f.text_field :email %></span>
				<p>
				<%= f.submit"編集する", class:"btn btn-block btn-primary" %>
				</p>
		    <% end %>
			</div>
		</div>
	</div>
</div>