<p id="notice"></p>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="border">
                </br>
                <h2>マイページ</h2>
                </br>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <span>名前:</span>
                            <span class="profile_name"><%= @enduser.first_name %></span>
                            <span class="profile_name"><%= @enduser.last_name %></span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <sapn>フリガナ:</sapn>
                            <span class="profile_name"><%= @enduser.first_name_kana %></span>
                            <span class="profile_name"><%= @enduser.last_name_kana %></span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <span>郵便番号:</span>
                            <span class="profile_postcord"><%= @enduser.postcode %></span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>住所:</p>
                            <span class="profile_address"><%= @tests[@enduser.prefecture] %></span>
                            <span class="profile_address"><%= @enduser.address %></span>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <span>電話番号:</span>
                            <sapn class="profile_phone_number"><%= @enduser.phone_number %></sapn>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>メールアドレス:</p>
                        　　 <span class="profile_email"><%= @enduser.email %></span>
                        </th>
                    </tr>
                    </tbody>
                </table>
                <%= link_to '登録ユーザー情報編集画面へ', edit_admins_enduser_path, class:"btn btn-primary" %>
            </div>
            <div class="taikai">
                <%= link_to "退会させる", admins_enduser_path, class:"btn btn-danger", method: :delete, "data-confirm" => "本当に退会しますか?" %>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="iine">
                <p>いいねした商品一覧</p>
            </div>
            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>発売日</th>
                      <th><!-- いいね　と　レビュー数 --></th>
                      <th>商品名・アーティスト名</th>
                      <th>価格（税込）</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <% @favorites.each do |f| %>
                        <td>
                            <%= attachment_image_tag f.item, :item_profile, :fill, 60, 60, format: 'jpeg' %></br><p class="p1"><%= f.item.shipdate %></p>
                        </td>
                        <td>
                            <%= f.item.favorites.count %> いいね　</br> <%= f.item.reviews.count %>レビュー数
                        </td>
                        <td>
                            <p><%= f.item.item_name %></p></br><p class="p3"><%= f.item.artist.artist_name  %></p>
                        </td>
                        <td>
                            <p class="p4"><%= (f.item.price * @tax.tax_rate).round.to_s(:delimited, delimiter: ',')%>円(税込)</p>
                        </td>
                      </tr>
                      <% end %>
                      <%= paginate @favorites, class: "paginate" %>
                  </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .taikai{
        margin-top: 150px;
    }
    .iine{
        margin-top: 100px;
        margin-left: 100px;
    }
    .border{
        margin-top: 20px;
        margin-left: 50px;
    }
</style>
