<div class="container">
	<div class="row">
		<div class="col">
			<h3>お問合せ一覧</h3>
			<div class="contact">
				<table class="table table-bordere">
					<thead>
					    <tr>
					      <th colspan="1"></th>
					      <th>受信履歴</th>
					      <th class="col-md-10">
					      	ユーザー名
					      </th>
					      <th>
					    	お問合せ内容
					      </th>
					      <th colspan="4"></th>
					    </tr>
					</thead>
					<tbody>
			          <% @contact.each do |f| %>
			            <tr>
			              <td>
			              	
			              </td>
			              <td>
			  				<%= f.created_at.strftime("%Y-%m-%d %H:%M") %>
			              </td>
			              <td>
			                <%=f.alladd.first_name %><%= f.alladd.last_name %>
			              </td>
			              <td>
			              	<%= f.contact_content %>
			              </td>
			              <td>
			              	<%= link_to'返信する',admins_contact_path(f.id) %>
			              </td>
			            </tr>
			          <% end %>
			        </tbody>
			    </table>
  			</div>
       </div>
	</div>
</div>


<style>
	.contact{
		margin-top: 40px;
		margin-left: 100px;
		margin-right: 100px;
	}
</style>