<div class="container">
	<div class="row">
		<h2>お問合せ一覧</h2>
		<div class="col">
			<div class="contact">
				<table>
					<thead>
					    <tr>
					      <th class="col-span"></th>
					      <th class="received_history">受信履歴</th>
					      <th class="user_name">ユーザー名</th>
					      <th class="word-break">お問合せ内容</th>
					      <th class="col-span"></th>
					    </tr>
					</thead>
					<tbody>
			          <% @contacts.each do |f| %>
			            <tr>
			              <td>
			              	
			              </td>
			              <td>
			  				<%= f.created_at.strftime("%Y-%m-%d %H:%M") %>
			              </td>
			              <td>
			                <%=f.alladd.first_name %><%= f.alladd.last_name %>
			              </td>
			              <td>
			              	<p class="word-break">
			              		<%= f.contact_content %>
			              	</p>
			              </td>
			              <td>
			              	<% if f.alladd.deleted_at %>
				                <% else %>
				                <%= link_to'返信する',admins_contact_path(f.id) %>
				            <% end %>
			              </td>
			            </tr>
			          <% end %>
			        </tbody>
			    </table>
			    <%= paginate @contacts, class: "paginate" %>
  			</div>
       </div>
	</div>
</div>


<style>
.contact{
	margin-top: 40px;
	margin-left: 100px;
	margin-right: 100px;
}

.word-break {
  display: block;
  width: 200px;
  overflow-wrap: break-word;
}

table {
  table-layout: fixed;
  width: 100%;
}

table,th,td {
  border: 1px solid #bbb;
}

.word-break {
	width: 100%;
}

.user_name{
	width: 100px;
}

.received_history{
	width: 150px;
}

.col-span {
  width: 60px;
}
</style>