<div class="container">
	<h2>お問合せ一覧</h2>
	<div class="row">
		<div class="col">
			<div class="contact">
				<table>
					<thead>
					    <tr class="tr-contact">
					      <th class="col-span1"></th>
					      <th class="received_history">受信履歴</th>
					      <th class="user_name">ユーザー名</th>
					      <th class="word-break">お問合せ内容</th>
					      <th class="col-span"></th>
					    </tr>
					</thead>
					<tbody>
			          <% @contacts.each do |f| %>
			            <tr>
			              <td>
			              	<% if f.status == false %>
			              		未回答
			              	<% else %>
			              		<div class="contact-ture">
			              			回答済
			              		</div>
			              	<% end %>

			              </td>
			              <td>
			  				<%= f.created_at.strftime("%Y-%m-%d %H:%M") %>
			              </td>
			              <td>
			                <%=f.alladd.first_name %><%= f.alladd.last_name %>
			              </td>
			              <td>
			              	<p class="word-break">
			              		<%= f.contact_content %>
			              	</p>
			              </td>
			              <td>
			              	<% if f.alladd.deleted_at %>
			              	  退会済み
				                <% else %>
				                <%= link_to'返信する',admins_contact_path(f.id), class:"btn btn-primary" %>
				            <% end %>
			              </td>
			            </tr>
			          <% end %>
			        </tbody>
			    </table>
			    <%= paginate @contacts, class: "paginate" %>
  			</div>
       </div>
	</div>
</div>

<style>
table th{
  	padding : 20px 10px;
}

table td{
 	 padding : 20px 10px;
}
table {
  table-layout: fixed;
  width: 100%;
}

table,th,td {
  border: 1px solid #bbb;
}
</style>