<div class="container">
	<div class="row">
		<div class="col">
			<h3>お問合せ一覧</h3>
			<table class="table table-bordere">
				<thead>
				    <tr>
				      <th colspan="1"></th>
				      <th>受信履歴</th>
				      <th>ユーザー名</th>
				      <th>お問合せ内容</th>
				      <th colspan="4">
				    </tr>
				</thead>
				<tbody>
		          <% @contact.each do |f| %>
		            <tr>
		              <td>
		              	
		              </td>
		              <td>
		  				<%= f.created_at %>
		              </td>
		              <td>
		                <%=f.enduser.first_name %><%= f.enduser.last_name %>
		              </td>
		              <td>
		              	<%= f.contact_content %>
		              </td>
		              <td>
		              	<%= link_to'返信する',admins_contact_reply_path(f.id) %>
		              </td>
		            </tr>
		          <% end %>
		        </tbody>
		    </table>
       </div>
	</div>
</div>
