<div class="container">
  <h1>お問合せ詳細</h1>
  <div class="row">
    <div class="col text-center">
    </div>
    <div class="col text-center">
      <div class="mozi">
        <p>お問合せ内容</p>
      </div>
      <p class="word-break">
        <%= @contact.contact_content %>
      </p>
    </div>
    <div class="col text-center">
      <% if flash[:notbuy] %>
        <p class="pp4"><%= flash[:notbuy] %></p>
      <% end %>
      <%= form_for @reply,  url: admins_contact_reply_path(@reply) do |f| %>
        <div class="mozi">
          <p>メールアドレス</p>
        </div>
        <%= f.text_field :email, value: @contact.enduser.email %>
        <div class="mozi">
          <p>返信入力フォーム</p>
        </div>
        <%= f.text_area :reply_content %>
        <div class="hennshinn">
          <%= f.submit'返信', class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<style>
  .word-break {
  display: block;
  width: 50%;
  margin: 0 auto;
  overflow-wrap: break-word;
}
</style>