
<div class="container">
  <h2>カート一覧</h2>
  <div class="row">
    <div class="col col-lg-2">
    </div>
    <div class="col col-lg-8">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>発売日</th>
              <th class="col-md-1"></th>
              <th class="col-md-4">商品名・アーティスト名・価格</th>
              <th class="col-lg-5"></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <% @cart.cart_items.each do |t| %>
                <td><%= attachment_image_tag t.item, :item_profile, :fill, 130, 130, format: 'jpeg' %></br>
                	<p class="p1"><%= t.item.shipdate %></p></td>
                <td></td>
                <td><p class="p6"><%= link_to item_path(t.item.id) do %><%= t.item.item_name %><% end %></p></br>
                	<p class="p7"><%= t.item.artist.artist_name  %></p></br>
                	<p class="p5"><%= t.subtotal.round.to_s(:delimited, delimiter: ',')%>円(税込)</p></td>
                <td>
                  <%= form_for t do |f| %>
                  <label class="item-quantity">数量</label>
                  <%= f.number_field :quantity, min: 1, class:"field" %>
                  <%= f.submit "保存", class:"btn btn-default btn-sm" %>
                  <% end %>
                  <%= link_to "カートから削除", cart_item_path(t), class: 'btn btn-default item_delete_botton' , method: :delete %>
                </td>
              </tr>
              <% end %>
          </tbody>
       </table>
       <div class="cart_item_bottom">
         <h3 class="total_price">合計金額 <%= @cart_total_price.round.to_s(:delimited, delimiter: ',')%>円(税込)</h3>
       <div class="order_path"><%= link_to "購入画面へ進む", new_order_path, class: 'btn btn-primary cart_botton' %></div>
       </div>
     </div>
   </div>
 </div>








