<div class="nested-fields">
  <%= f.label "Disc" %>
  <br>
  <%= f.text_field :disc_name, placeholder: "(例)Disc1", class:"field" %>
  <br>
  <%= link_to_remove_association "Discを削除", f, class:"btn btn-default btn-xs" %>

  <div class="songs">
    <%= f.fields_for :songs do |song| %>
    	<%= render "admins/items/song_fields", f: song %>
    <% end %>
    <div class="links">
    	<%= link_to_add_association "曲を追加", f, :songs, class:"btn btn-default btn-xs" %>
    </div>
  </div>
</div>