<div class="container">
　<h2>商品情報の編集</h2>
  <div class="row">
  	<div class="boxes">
		<div class="col col-lg-12 mx-auto">
		<%= form_for(@item, url: admins_item_path(@item) ) do |f| %>
		    <% if @item.errors.any? %>
        		<div id="error_explanation">
            		<h2>エラーが発生しました。</h2>
	                <ul>
		                <li>空欄を埋めてください</li>
	                </ul>
            	</div>
            <% end %>
			<table class="table table-sm table-bordered">
				<tbody>
					<tr>
						<th><label class="label_name label_height">ジャケット画像</label></th>
						<td>
						   <%= attachment_image_tag @item, :item_profile, :fill,260, 260, format: 'jpeg', size: "100x100", id: "img_prev", class:"field" %>
							<%= f.attachment_field :item_profile %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">商品名</label>
						</th>
						<td><%= f.text_field :item_name, placeholder: "商品名", class:"field" %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">アーティスト名 </label>
						</th>
						<td>
							<%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :prompt => "選択してください", class:"field"  %>
							<%= link_to "アーティストの追加", new_admins_artist_path, class:"btn btn-default btn-xs" %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">レーベル名 </label>
						</th>
						<td>
							<%= f.collection_select :label_id, Label.all, :id, :label_name, :prompt => "選択してください", class:"field"  %>
							 <%= link_to "レーベルの追加", new_admins_label_path, class:"btn btn-default btn-xs" %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">ジャンル </label>
						</th>
						<td>
							<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => "選択してください", class:"field"  %>
							<%= link_to "ジャンルの追加", new_admins_genre_path, class:"btn btn-default btn-xs" %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">発売日</label>
						</th>
						<td>
							<%= f.date_field :shipdate, placeholder: "XXXX-XX-XX", class:"field" %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">価格</label>
						</th>
						<td>
							<%= f.text_field :price, placeholder: "1000(税抜)", class:"field" %>
						</td>
					</tr>
					<tr>
						<th>CD/DVD/曲名/曲順</th>
						<td><%= render 'admins/items/item_form', f: f %>
						</td>
					</tr>
					<tr>
						<th>
							<label class="label_name label_height">販売状態</label>
						</th>
						<td class = "field">
							<%= f.label :status, "販売中" %>
							<%= f.radio_button :status, :販売中 %>
							<%= f.label :status, "販売停止" %>
							<%= f.radio_button :status, :販売停止中 %>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="add_btn">
				<%= f.submit '編集する', class:"btn btn-default btn-sm" %>
			</div>
		<% end %>
		</div>
  	</div>
  </div>
</div>