<h2>商品追加</h2>
<%= form_for(@item) do |f| %>
	<div>
		<label>ジャケット画像: </label>
		<%= f.attachment_field :item_profile %>
	</div>
	<div>
		<label>商品名: </label>
		<%= f.text_field :item_name, placeholder: "商品名" %>
	</div>
	<div>
		<label>アーティスト名: </label>
		<%= f.collection_select :artist_id, Artist.all, :id, :artist_name, :prompt => "選択してください"  %>
		<%= link_to "アーティストの追加", new_admins_artist_path, class:"btn btn-info active btn-xs" %>
	</div>
	<div>
		 <label>　　レーベル名: </label>
		 <%= f.collection_select :label_id, Label.all, :id, :label_name, :prompt => "選択してください"  %>
		 <%= link_to "レーベルの追加", new_admins_label_path, class:"btn btn-info active btn-xs" %>
	</div>
	<div>
		<label>　　　ジャンル: </label>
		<%= f.collection_select :genre_id, Genre.all, :id, :genre_name, :prompt => "選択してください"  %>
		<%= link_to "ジャンルの追加", new_admins_genre_path, class:"btn btn-info active btn-xs" %>
	</div>
	<div>
		<label>発売日: </label>
  		<%= f.date_field :shipdate, placeholder: "XXXX-XX-XX" %>
	</div>
	<div>
		<label>　価格: </label>
  		<%= f.text_field :price, placeholder: "1000(税抜)" %>
	</div>
	<div>
		<label>在庫数: </label>
		<%= f.number_field :stock, min: 1 %>
	</div>
	<div>
		<%= render 'admins/items/item_form', f: f %>
	</div>
	<div>
		<label>販売状態: </label>
		<%= f.label :status, "販売中" %>
		<%= f.radio_button :status, :sell %>
		<%= f.label :status, "販売停止" %>
		<%= f.radio_button :status, :sell_stop %>
	</div>
	<div>
		<%= f.submit '商品を追加' %>
	</div>
<% end %>