<div class="container">
	<h2>商品詳細</h2>
	<div class="row row-md-10">
		<div class="col col-lg-1"></div>
		<div class="col col-md-6">
			<div class="item-image">
			   <%= attachment_image_tag @item, :item_profile, :fill,260, 260, format: 'jpeg' %>
			</div>
			<div class="item-top">
			    <p class="p10">
			    	<i class="fas fa-heart"></i>
				    いいね <%= @item.favorites.count %>
				</p>
			    <p class="p10">
			    	<i class="far fa-comment-dots"></i>
			    	レビュー数 <%= @item.reviews.count %>
			    </p>
			</div>
			<div class="item-bottom">
			  <div class="content">
				<p>商品名：<%= @item.item_name %></p>
				<p>アーティスト名：<%= @item.artist.artist_name %></p>
				<p>レーベル名：<%= @item.label.label_name %></p>
				<p>ジャンル：<%= @item.genre.genre_name %></p>
				<p>発売日：<%= @item.shipdate %></p>
				<p>価格：<span><%= (@item.price * @tax.tax_rate).round.to_s(:delimited, delimiter: ',')%>円(税込)</span></p>
				<p>在庫数：<%= @item.stock %></p>
              	<% if @item.deleted_at == nil %>
					<% if @item.status == "販売中" %>
						<p class="sell_now">販売中</p>
					<% else %>
						<p class="sell_not_now">販売停止中</p>
					<% end %>
				<% else %>
					<p class="item_delete">削除済み</p>
				<% end %>
			  </div>
              <% if @item.deleted_at == nil %>
				  <ul class="item_nav">
					<li><%= link_to "商品内容の編集", edit_admins_item_path(@item), class:"btn btn-default btn-lg" %></li>
					<li><%= link_to "商品の削除", admins_item_path(@item), method: :delete ,class:"btn btn-default btn-lg" %></li>
				  </ul>
              <% else %>
              <% end %>
			</div>
	    </div>
		<div class="col col-md-5">
			<% @item.discs.each do |disc| %>
				<p class="disc-song-disc"><%= disc.disc_name %></p>
				<% disc.songs.each do |song| %>
					<p class="disc-song-song"><%= song.song_name %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row row-md-10">
		<div class="col col-lg-1"></div>
		<div class="col col-md-10">
			<div class="review">
			  <% if enduser_signed_in? %>
			  	<span class="span-notice"><%= notice %></span>
				<%= form_for [@item, @review] do |r| %>
					<h3 class="review-h3"><i class="far fa-comment-dots">  </i> レビュー投稿欄</h3>
					<div class="review-area"><%= r.text_area :review_content  %></div>
				<%= r.submit'投稿' %>
				<% end %>
			  <% else %>
			  <% end %>
				<div class="review-content">
					<h3 class="review-h3">レビュー 一覧</h3>
					<table class="table">
						<thead>
							<tr>
								<th class="col-md-2"><p>ユーザー名</p></th>
								<th class="col-md-8"><p>レビュー内容</p></th>
								<th class="col-md-2">管理者機能</th>
							</tr>
						</thead>
						<tbody>
							<% @item.reviews.each do |review| %>
							<tr>
								<td><%= review.enduser.first_name %><%= review.enduser.last_name %></td>
								<td class ="review"><%= review.review_content %></td>
								<td><%= link_to "編集", edit_admins_item_review_path(@item.id, review.id), class:"btn btn-default btn-xs"  %>
									<%= link_to "削除", admins_item_review_path(@item.id, review.id), method: :delete, data: { confirm: '削除しますか？' }, class:"btn btn-default btn-xs"  %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
					<%= paginate @reviews, class: "paginate" %>
				</div>
			</div>
		</div>
	</div>
</div>