<div class="container">
	<div class="row">
		<div class="col text-center">
			<h1>お問い合わせフォーム</h1>
		</div>
		<div class="col text-center">
			<%= form_for @contact do |contact| %>
				<% if @contact.errors.any? %>
				<%= @contact.errors.count %>件のerrorが発生しました
					<% @contact.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				<% end %>
			<% end %>
			<%= form_for (@contact) do |f| %>
				<%= f.text_area :contact_content %>
				<div class="soushinn">
					<%= f.submit "送信", class:"btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

