<!DOCTYPE html>
<html>
  <head>
    <title>TheCd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/50e1df26d8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header id="header" class="">
      <div class="header-top">
        <nav class="nav navbar-nav navbar-left nav-position">
          <span class="nav-title">The CD</span>
        </nav>
        <nav class="nav-right">

        </div>
      </div>
    </header><!-- /header -->
    <%= yield %>
    <footer>
      <div class="footer">
        <span class="footer-title">The CD</span>
      </div>
    </footer>
  </body>
</html>
