<!DOCTYPE html>
<html>
  <head>
    <title>TheCd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/50e1df26d8.js" crossorigin="anonymous"></script>
  </head>

  <body>
      <header id="header" class="">
        <div class="header-top">
          <nav class="nav navbar-nav navbar-left nav-position">
            <% if admin_signed_in? %>
            <span><%= link_to "The CD", admins_items_path,  class:"nav-title" %></span>
            <% else %>
            <span><%= link_to "The CD", root_path,  class:"nav-title" %></span>
            <% end %>
          </nav>
          <nav class="nav-right">
            <% if enduser_signed_in? %>
            <span><%= current_enduser.first_name + current_enduser.last_name %>さんがログインしています</span><br>
              <ul>
                <li class="navlist">
                  <%= link_to "カート一覧", cart_path(current_enduser), class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "マイページ", enduser_path(current_enduser), class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "ログアウト", destroy_enduser_session_path, method: :delete, class:"btn btn-default" %>
                </li>
              </ul>
            <% elsif admin_signed_in? %>
            <span>管理者がログインしています</span><br>
              <ul>
                <li class="navlist">
                  <%= link_to "送料変更", admins_freights_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "商品追加", new_admins_item_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "在庫追加", new_admins_additem_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"btn btn-default" %>
                </li><br>
                <li class="navlist">
                  <%= link_to "受注履歴", admins_orders_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "入荷履歴", admins_additems_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "顧客一覧", admins_endusers_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "問い合わせ一覧", admins_contacts_path, class:"btn btn-default" %>
                </li>
              </ul>
                 <style>
                   .header-top{
                     height: 130px;
                   }
                 </style>
            <% else %>
            <span></span><br>
              <ul class="non-user-nav">
                <li class="navlist">
                  <%= link_to "会員登録", new_enduser_registration_path, class:"btn btn-default" %>
                </li>
                <li class="navlist">
                  <%= link_to "ログイン", new_enduser_session_path, class:"btn btn-default" %>
                </li>
              </ul>
            <% end %>
            <% path = Rails.application.routes.recognize_path(request.path) %>
               <% if path[:controller] == "admins/sessions" && path[:action] == "new" %>
                 <style>
                   .navlist{
                     display: none;
                   }
                 </style>
               <% end %>
          </div>
        </div>
      </header><!-- /header -->
      <div class="wrapper">
        <%= yield %>
      </div>
      <div class="push"></div>
    <footer class="footer">
      <div class="container">
        <span class="footer-title">The CD</span>
        <% if enduser_signed_in? %>
          <span class="footer-contact"><%= link_to "お問い合わせはこちらから", new_contact_path %></span>
        <% end %>
      </div>
    </footer>
  </body>
</html>
